<div class="sfooter">
	<div class="sfooter-content">
		<main-nav></main-nav>

		<main id="about">

			<div class="container">

				<div class="container-fluid bg-1 text-center">
					<h3>About us</h3>
					<p>Development of abqtownhall.com began at CNM's Deep Dive Coding Bootcamp in Albuquerque, NM. Michelle,
						Leonora, Ryan, and Steven were assigned to build a web application as a team for their course
						capstone. Together, they identified civic engagement as the most significant factor to improve this
						city we all call home. Over the next few weeks, Albuquerque Town Hall was born. </p>
				</div>

				<div class="container-fluid bg-3 text-center">
					<h3>Executive Summary</h3>
					<p>ABQTownHall is the nexus of civic responsibilities, technology, and local governance.</p>
				</div>

				<div class="container-fluid bg-2 text-center">
					<h3>Mission</h3>
					<p>To preserve democratic values and facilitate change by creating an informed, connected, and
						participating constituent.</p>
				</div>

				<div class="container-fluid bg-3 text-center">
					<h3>Values</h3>
					<p>Diversity: We know it takes people with different ideas, strengths, interests, and cultural
						backgrounds for Townhall to succeed. Respect: We strive to show a deep respect for all people and for
						the communities in which they live. Collaboration: We believe that if we leverage collective genius,
						together we make the difference. Social value: We encourage healthy debate and differences of opinion.
						Democracy: We think it is important to have a forum for a civil exchange of ideas on the internet.</p>
				</div>

				<div class="container-fluid bg-3 text-center">
					<h3>Vision</h3>
					<p>Our vision is for ABQTownHall to serve as a non-partisan platform that engages citizens, improves
						representation, and helps maintain a healthy democracy.</p>
				</div>

			</div>

		</main>
	</div>

	<app-footer></app-footer>
</div>