
<div class="sfooter">
	<div class="sfooter-content">
<main-nav></main-nav>

<main id="about">

	<div class="container">

		<div class="container-fluid bg-1 text-center">
			<h3>About us</h3>
			<img src="" class="img-circle" alt="" width="350" height="350">
			<p>The Townhall story begins in Albuquerque NM, 2017 at CNM's Deep Dive Coding Bootcamp. Ryan, Steven, Leonora and Michelle were assigned to build a web application as a team. They considered the importance of ways to improve the City we all call home. Over the next few weeks, Albuquerque Virtual Townhall was born. </p>
		</div>

		<div class="container-fluid bg-2 text-center">
			<h3>Mission</h3>
			<p>Our mission is to give the people of Albuquerque the power to create and share ideas and concerns instantly and communicate with their elected officals without barriers.</p>
		</div>

		<div class="container-fluid bg-3 text-center">
			<h3>Values</h3>
			<p> Diversity: We know it takes people with different ideas, strengths, interests, and cultural backgrounds for Townhall to succeed.
				Respect: We strive to show a deep respect for all people and for the communities in which they live.
				Collaboration: We believe that if weleverage collective genius, together we make the difference.
				Social value: We encourage healthy debate and differences of opinion.
				Democracy: We think it is important to have a forum for a civil exchange of ideas on the internet.</p>
		</div>
	</div>

</main>
	</div>

<app-footer></app-footer>
</div>