<div class="sfooter">
	<div class="sfooter-content">
		<main-nav></main-nav>
		<main class="contact">

			<div class="container">
				<h2>Contact Us</h2>

				<div class="row">
					<div class="col-sm-6">

						<!-- Contact form -->
						<form id="contact-form" action="php/mailer.php" method="post" novalidate>
							<div class="form-group">
								<label for="name">Name</label>
								<div class="input-group">
									<div class="input-group-addon">
										<i class="fa fa-user"></i>
									</div>
									<input class="form-control" type="text" name="name" id="name" placeholder="Your Name">
								</div>
							</div>
							<div class="form-group">
								<label for="email">Email</label>
								<div class="input-group">
									<div class="input-group-addon">
										<i class="fa fa-envelope"></i>
									</div>
									<input class="form-control" type="email" name="email" id="email" placeholder="Your Email">
								</div>
							</div>
							<div class="form-group">
								<label for="subject">Subject</label>
								<div class="input-group">
									<div class="input-group-addon">
										<i class="fa fa-pencil"></i>
									</div>
									<input class="form-control" type="text" name="subject" id="subject" placeholder="Subject">
								</div>
							</div>
							<div class="form-group">
								<label for="message">Message</label>
								<div class="input-group">
									<div class="input-group-addon">
										<i class="fa fa-comment"></i>
									</div>
									<textarea name="message" rows="5" id="message" class="form-control"
												 placeholder="Your Message (2000 charaters max)"></textarea>
								</div>
							</div>

							<!-- Google recaptcha -->
							<div class="g-recaptcha" data-sitekey="6LfwTjQUAAAAAGxeLjU_VDE0W2ClamUJkI21ktrk"></div>
							<button class="btn btn-info" type="submit">Submit</button>
							<button class="btn btn-default" type="reset">Reset</button>
						</form>

						<!-- Form message area -->
						<div id="output-area"></div>

					</div>
				</div>
			</div>

		</main>
	</div>

	<app-footer></app-footer>
</div>
