<div id="editprofile-modal" class="modal fade" tabindex="-1" role="dialog">

	<div class="modal-dialog modal-lg" role="document">

		<div class="modal-content">

			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
					aria-hidden="true">&times;</span></button>
				<h5 class="modal-title">Edit your ABQ Town Hall account</h5>
			</div>

			<div class="modal-body">

				<!-- actual form -->
				<form class="form-horizontal" #editProfileForm="ngForm" name="editProfileForm"
						(ngSubmit)="createProfileEdit();">

					<!-- abq town hall first name -->
					<div class="form-group">
						<label for="editProfileFirstName" class="col-sm-2 control-label">First Name</label>
						<div class="col-sm-10">
							<input type="text" id="editProfileFirstName" name="editProfileFirstName" class="form-control"
									 required
									 [(ngModel)]="profile.profileFirstName" #profileFirstName="ngModel">
						</div>
					</div>

					<!-- abq town hall last name-->
					<div class="form-group">
						<label for="editProfileLastName" class="col-sm-2 control-label">Last Name </label>
						<div class="col-sm-10">
							<input type="text" id="editProfileLastName" name="editProfileLastName"
									 class="form-control input-sm"
									 required
									 [(ngModel)]="profile.profileLastName" #profileLastName="ngModel">
						</div>
					</div>

					<!-- abq town hall address 1 -->
					<div class="form-group">
						<label for="editProfileAddress1" class="col-sm-2 control-label">Street Address</label>
						<div class="col-sm-10">
							<input type="text" id="editProfileAddress1" name="editProfileAddress1"
									 class="form-control input-sm"
									 required
									 [(ngModel)]="profile.profileAddress1" #profileAddress1="ngModel">
						</div>
					</div>

					<!-- abq town hall address 2 -->
					<div class="form-group">
						<label for="editProfileAddress2" class="col-sm-2 control-label">Unit Number</label>
						<div class="col-sm-10">
							<input type="text" id="editProfileAddress2" name="editProfileAddress2"
									 class="form-control input-sm"
									 required
									 [(ngModel)]="profile.profileAddress2" #profileAddress2="ngModel">
						</div>
					</div>

					<!--abq town hall city -->
					<div class="form-group">
						<label for="editProfileCity" class="col-sm-2 control-label">City</label>
						<div class="col-sm-10">
							<input type="text" id="editProfileCity" name="editProfileCity" class="form-control input-sm"
									 required [(ngModel)]="profile.profileCity" #profileCity="ngModel">
						</div>
					</div>

					<!--abq town hall state -->
					<div class="form-group">
						<label for="editProfileState" class="col-sm-2 control-label">State Abbreviation</label>
						<div class="col-sm-10">
							<input type="text" id="editProfileState" name="editProfileState" class="form-control input-sm"
									 required [(ngModel)]="profile.profileState" #profileState="ngModel">
						</div>
					</div>

					<!--abq town hall zip -->
					<div class="form-group">
						<label for="editProfileZip" class="col-sm-2 control-label">Zipcode</label>
						<div class="col-sm-10">
							<input type="text" id="editProfileZip" name="editProfileZip" class="form-control input-sm"
									 required [(ngModel)]="profile.profileZip" #profileZip="ngModel">
						</div>
					</div>

					<!--abq town hall email -->
					<div class="form-group">
						<label for="editProfileEmail" class="col-sm-2 control-label">Email Address</label>
						<div class="col-sm-10">
							<input type="text" id="editProfileEmail" name="editProfileEmail" class="form-control input-sm"
									 required [(ngModel)]="profile.profileEmail" #profileEmail="ngModel">
						</div>
					</div>

					<!--abq town hall password -->
					<div class="form-group">
						<label for="editProfilePassword" class="col-sm-2 control-label">Change Password</label>
						<div class="col-sm-10">
							<input type="password" id="editProfilePassword" name="editProfilePassword"
									 class="form-control input-sm"
									 required [(ngModel)]="profile.profilePassword" #profilePassword="ngModel">
						</div>
					</div>

					<!--abq town hall password confirm -->
					<div class="form-group">
						<label for="editProfilePasswordConfirm" class="col-sm-2 control-label">Confirm Password</label>
						<div class="col-sm-10">
							<input type="password" id="editProfilePasswordConfirm" name="editProfilePasswordConfirm"
									 class="form-control input-sm"
									 required [(ngModel)]="profile.profilePasswordConfirm" #profilePasswordConfirm="ngModel">
						</div>
					</div>

					<!-- Submit button -->
					<button type="submit" id="submitEdit" name="submitEdit" class="btn btn-success float-right">Save</button>
					<button type="button" class="btn btn-warning float-right" data-dismiss="modal">Close</button>
				</form>


				<div *ngIf="status !== null" class="modal-footer" [ngClass]="status.message">
					{{ status.message }}
				</div>


			</div>
		</div>
	</div>
</div>