<main-nav></main-nav>

<main class="bgimg">

	<div class="container-fluid">
		<h1>Welcome to Albuquerque Virtual Town Hall</h1>
		<div class="row">
			<div class="col-sm-6">
				<form class="form-container">
					<h4>Login</h4>
					<form #signInForm="ngForm" id="signInForm" name="signInForm" (submit)="signIn();">
						<div class="input-group">
							<span class="input-group-addon"></span>
							<input id="profileFirstName" type="text" class="form-control" name="profileFirstName" placeholder="email" required
									 [(ngModel)]="signIn.profileEmail" #signIn="ngModel">
						</div>
						<div class="input-group">
							<span class="input-group-addon"></span>
							<input id="profilePassword" type="text" class="form-control" name="password" placeholder="password" required
									 [(ngModel)]="signIn.profilePassword" #signIn="ngModel">
						</div>
					</form>
				</form>
				<div class="row">
						<button type="button" class="btn btn-success">Login</button>
						<button type="button" class="btn btn-default" data-toggle="modal" data-target="#signup-modal">Sign Up</button>
				</div>
			</div><!--column-->
		</div><!--row-->
	</div><!--container-->
</main>

<footer></footer>