<main-nav></main-nav>

<div class="container-fluid">
<main class="bgimg">


		<h1>Welcome to Albuquerque Virtual Town Hall</h1>
		<div class="row">
			<div class="col-sm-6">
				<form class="form-container">
					<h4>Login</h4>
					<form>
						<div class="input-group">
							<span class="input-group-addon"></span>
							<input id="email" type="text" class="form-control" name="email" placeholder="email">
						</div>
						<div class="input-group">
							<span class="input-group-addon"></span>
							<input id="password" type="text" class="form-control" name="password" placeholder="password">
						</div>
					</form>
				</form>
				<div class ="col-sm-6">
						<button class="btn btn-success">Login</button>
						<button type="button" class="btn btn-default navbar-btn" data-toggle="modal" data-target="#signup-modal">Sign Up</button>
				</div>
			</div><!--column-->
		</div><!--row-->

</main>
</div><!--container-->
<footer></footer>