<div class="sfooter">
	<div class="sfooter-content">

		<user-nav></user-nav>

<div class="container">
	<div class="row">

		<div class="col-md-4">
			<h2>Create New Post </h2>

			<!-- Create New Post Form -->
			<form #postForm="ngForm" id="postForm" (submit)="createPost();">

				<div class="form-group">
					<label class="sr-only" for="postContent">Content <span class="text-danger">*</span></label>
					<div class="input-group">
						<div class="input-group-addon">
							<i class="fa fa-pencil" aria-hidden="true"></i>
						</div>
						<textarea class="form-control" name="postContent" id="postContent" cols="30" rows="10"
									 placeholder="1024 characters max." [(ngModel)]="newPost.postContent"
									 #postContent="ngModel"></textarea>
					</div>
				</div>

				<button [disabled]="postForm.invalid" class="btn btn-success" type="submit"><i
					class="fa fa-paper-plane"></i> Submit
				</button>
				<button class="btn btn-warning" type="reset"><i class="fa fa-ban"></i> Reset</button>
			</form>
			<div *ngIf="status !== null" class="alert alert-dismissible" [ngClass]="status.type" role="alert">
				<button type="button" class="close" aria-label="Close" (click)="status = null;"><span aria-hidden="true">&times;</span>
				</button>
				{{ status.message }}
			</div>


		</div>

		<div class="col-md-8">
			<h2>All Posts in District {{ posts[0]?.postDistrict}}</h2>

			<!-- Begin Post Item -->
			<div class="panel panel-default" *ngFor="let post of posts">

				<div class="panel-heading">Post by {{post.postProfileUserName}}, on {{post.postDateTime | date:"medium"}} <button type="button"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> {{post.info.upVote}}</button> <button type="button"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i> {{post.info.downVote}}</button></div>
				<div class="panel-body">
					{{ post.postContent }}
				</div>
			</div>
			<!--<button (click)="createVote(post.postId);"></button>-->
		</div>
	</div>
</div>


	</div>
	<app-footer></app-footer>
</div>