<div class="sfooter">
	<div class="sfooter-content">
		<main-nav></main-nav>
		<main class="home">

			<div class="container-fluid">

				<h4>Enter your ABQ Town Hall account email and a new password</h4>

				<form class="form-horizontal" #recoverPasswordForm="ngForm" id="recoverPasswordForm"
						name="recoverPasswordForm" (submit)="createRecovery();">

					<!--abq town hall email -->
					<div class="form-group">
						<div class="col-sm-10">
							<input class="form-control" type="email" id="profileEmail" name="profileEmail" placeholder="E-Mail"
									 required
									 [(ngModel)]="recovery.profileEmail" #profileEmail="ngModel">
						</div>
					</div>

					<!--abq town hall password -->
					<div class="form-group">
						<div class="col-sm-10">
							<input class="form-control" type="password" id="profilePassword" name="profilePassword"
									 placeholder="New password" required
									 [(ngModel)]="recovery.profilePassword" #profilePassword="ngModel">
						</div>
					</div>

					<!--abq town hall password confirm -->
					<div class="form-group">
						<div class="col-sm-10">
							<input class="form-control" type="password" id="profilePasswordConfirm"
									 name="profilePasswordConfirm" placeholder="Re-enter password" required
									 [(ngModel)]="recovery.profilePasswordConfirm" #profilePasswordConfirm="ngModel">
						</div>
					</div>

					<!-- Submit button -->
					<button type="submit" id="submit" name="submitRecovery" class="btn btn-success">Save</button>
					<button class="btn btn-warning" type="reset">Reset</button>
				</form>

				<div *ngIf="status !== null" class="alert alert-dismissible" [ngClass]="status.type" role="alert">
					<button type="button" class="close" aria-label="Close" (click)="status = null;"><span
						aria-hidden="true">&times;</span>
					</button>
					{{ status.message }}
				</div>

			</div>

		</main>
	</div>
	<app-footer></app-footer>
</div>